@media(max-width:500px) {
    #loader-svg {
        width: 200%;
        height: 200%;
    }
    header {
        padding: 0;
    }
    .mobile {
        display: block;
        .name {
            position: absolute;
            font-size: 1.5em;
            top: 2em;
            right: 9.5%;
        }
    }
    #mobile-navigation {
        display: inline-block;
        position: relative;
        left: 0;
        top: 1.25em;
        width: 80px;
        height: 80px;
        #toggle-btn {
            width: 80px;
            height: 80px;
        }
        z-index: 99;
    }
    #mobile-menu {
        display: none;
        top: 0;
        position: fixed;
        width: 100vw;
        height: 1000px;
        background-color: $light_pink;
        z-index: 98;
        .mb-menu-item {
            @include padding(2, 0, 0.2, 2);
            a {
                font-size: 2.5em;
            }
        }
        .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 42%;
            @include img-container(160, 160, 160, 160);
        }
        .social {
            position: absolute;
            top: 60%;
            left: 40%;
        }
    }
    #main-container {
        display: none;
        grid-template: "h" 100px "p" "f" 400px/1fr;
    }
    nav {
        display: none;
    }
    #theme-color {
        position: absolute;
        right: 10%;
        font-size: 0.8em;
    }
    #page {
        @include padding-lr(0, 0);
    }
    #brand-name {
        font-size: 4.2em;
        text-align: center;
    }
    #hero-img {
        width: 100%;
        height: 500px;
        img {
            width: 800px;
            height: 500px;
        }
    }
    #the-interiors {
        height: 1450px;
        @include padding(2.5);
        .title {
            @include padding-lr(1, 1);
            text-align: center;
        }
        .text {
            margin-top: 0.8em;
            @include padding(0, 0.5, 0, 0.5);
            width: 90%;
            text-align: center;
            font-size: 1.4em;
        }
        .img-1 {
            @include position(absolute, 670px, '', '', -5%);
            @include img-container(200, 260, 240, 380);
            z-index: 2;
        }
        .img-2 {
            display: none;
        }
        .img-3 {
            @include position(absolute, 450px, '', '', 34%);
            @include img-container(280, 340, 300, 400);
        }
        .video-1 {
            width: 900px;
            height: 450px;
            @include position(absolute, 970px, '', '', -150px);
            video {
                width: 750px;
                height: 450px
            }
        }
    }
    #portfolio {
        height: 1100px;
        .title {
            @include padding-lr(1, 1);
            text-align: center;
        }
        .port-1,
        .port-2,
        .port-5 {
            display: none;
        }
        .port-3 {
            @include position(absolute, 100px, 0);
            width: 50%;
            height: 300px;
            img {
                width: 100%;
                height: 300px;
            }
        }
        .port-4 {
            @include position(absolute, 400px);
            width: 50%;
            height: 300px;
            img {
                width: 140%;
                height: 300px;
                position: absolute;
                left: -10%;
            }
        }
        .port-6 {
            @include position(absolute, 700px, 0);
            width: 50%;
            height: 300px;
            img {
                width: 130%;
                height: 300px;
                position: absolute;
                left: -30%;
            }
            // animation: port-animate-1 linear 2s forwards;
        }
        .port-7 {
            @include position(absolute, 100px, '', '', 5%);
            z-index: -2;
            padding-top: 0;
        }
        .port-8 {
            @include position(absolute, 400px, 45%);
            z-index: -2;
        }
        .port-9 {
            @include position(absolute, 700px, '', '', 5%);
            z-index: -2;
        }
        .port {
            .text {
                padding-top: 0.8em;
                font-size: 0.95em;
                position: absolute;
                width: 150px;
                height: initial;
                text-align: initial;
            }
        }
    }
    #contact-form {
        height: 700px;
        .title {
            @include padding-lr(1, 1);
            text-align: center;
            padding-bottom: 4em;
        }
        .form {
            @include padding-lr(1, 1);
            div {
                padding-bottom: 1.8em;
            }
            input {
                width: 91%;
                height: 3em;
                padding-left: 1.5em;
            }
            textarea {
                width: 91%;
                height: 6em;
            }
            input[type="submit"] {
                width: 99%;
                padding-left: 39%;
            }
        }
    }
    footer {
        @include padding-lr(1, 1);
        .brand-name {
            font-size: 2em;
        }
        .social {
            span {
                margin-right: 1.4em;
            }
        }
        .footer-items {
            padding-top: 6em;
            span {
                display: block;
                padding-top: 1em;
                padding-bottom: 1em;
            }
            a {
                padding-top: 0.2em;
                padding-bottom: 0.05em;
            }
        }
        .contact-section {
            .contact {
                font-size: 1.2em;
                padding-bottom: 1em;
            }
            .email {
                font-size: 0.9em;
            }
            .call,
            .mail {
                margin-right: 0.4em;
            }
            @include position(absolute, 6em, '', '', 1em);
        }
    }
}